<div id="<%= dom_id administrator %>">
  <p>
    <strong>Nome:</strong>
    <%= administrator.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= administrator.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= administrator.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrator.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= administrator.senha %>
  </p>

</div>
