<div class="container-fluid">
  <h1>Endereços</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Rua</th>
        <th>Numero</th>
        <th>Bairro</th>
        <th>Cep</th>
        <th>Bairro</th>
        <th>Estado</th>
        <th>Administrador</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @addresses.present? %>
        <% @addresses.each do |admin_address| %>
        <tr>
            <td>
              <%= admin_address.rua %>
            </td>      
                      <td>
              <%= admin_address.numero %>
            </td>      
                      <td>
              <%= admin_address.bairro %>
            </td>      
                      <td>
              <%= admin_address.cep %>
            </td>      
                      <td>
              <%= admin_address.bairro %>
            </td>      
                      <td>
              <%= admin_address.estado %>
            </td>      
                      <td>
              <%= admin_address.admin_administrators.nome %>
            </td>      
                    <td>
          <%= link_to 'Mostrar', admin_administrator_address_path(id: admin_address.id), class:"btn btn-light min-width-btn" %>
          <%= link_to 'Editar', edit_admin_administrator_address_path(id: admin_address.id),class:"btn btn-primary min-width-btn"  %>     
          <%= link_to 'Deletar', admin_administrator_address_path(id: admin_address.id), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' }, class: "btn btn-danger min-width-btn" %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Novo Admin Address', new_admin_administrator_address_path(@administrator),class:"btn btn-success min-width-btn" %>
</div>