<div id="<%= dom_id video %>">
  <p>
    <strong>Nome:</strong>
    <%= video.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= video.descricao %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= video.link %>
  </p>

  <p>
    <strong>Sales courses:</strong>
    <%= video.sales_courses_id %>
  </p>

</div>
