<div id="<%= dom_id address %>">
  <p>
    <strong>Rua:</strong>
    <%= address.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= address.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= address.bairro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= address.cep %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= address.bairro %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= address.estado %>
  </p>

  <p>
    <strong>Sales sellers:</strong>
    <%= address.sales_sellers_id %>
  </p>

</div>
