<%= form_with(model: @seller, local: true) do |form| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h5>
      <ul>
      <% @seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, id: :nome ,class:"form-control"%>
      </div>
                <div class="form-group">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, id: :cpf ,class:"form-control"%>
      </div>
                <div class="form-group">
        <%= form.label :telefone %>
        <%= form.text_field :telefone, id: :telefone ,class:"form-control"%>
      </div>
                <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, id: :email ,class:"form-control"%>
      </div>
        <div class="actions">
    <%= form.submit "Salvar", class:"btn btn-success min-width-btn" %>
  </div>
<% end %>