<div id="<%= dom_id bank_account %>">
  <p>
    <strong>Numero:</strong>
    <%= bank_account.numero %>
  </p>

  <p>
    <strong>Agencia:</strong>
    <%= bank_account.agencia %>
  </p>

  <p>
    <strong>Banco:</strong>
    <%= bank_account.banco %>
  </p>

  <p>
    <strong>Admin administrators:</strong>
    <%= bank_account.admin_administrators_id %>
  </p>

</div>
