<div class="container-fluid">
  <h1>Contas Bancárias</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Agencia</th>
        <th>Banco</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bank_accounts.each do |admin_bank_account| %>
        <tr>
            <td>
              <%= admin_bank_account.numero %>
            </td>      
            <td>
              <%= admin_bank_account.agencia %>
            </td>      
            <td>
              <%= admin_bank_account.banco %>
            </td>      
            <td>
              <%= link_to 'Mostrar', admin_administrator_bank_account_path(@administrator, admin_bank_account), class:"btn btn-light min-width-btn" %>
              <%= link_to 'Editar', edit_admin_administrator_bank_account_path(@administrator, admin_bank_account),class:"btn btn-primary min-width-btn"  %>     
              <%= link_to 'Deletar', admin_administrator_bank_account_path(id: admin_bank_account.id), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' }, class: "btn btn-danger min-width-btn" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Novo Admin Bank Account', new_admin_administrator_bank_account_path(@administrator),class:"btn btn-success min-width-btn" %>
</div>