<%= form_with(model: @course, local: true, url: @course.new_record? ? sales_seller_courses_path(@seller) : sales_seller_course_path(@seller, @course)) do |form| %>
  <% if @course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h5>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, id: :nome ,class:"form-control"%>
      </div>
      <div class="form-group">
        <%= form.label :descricao %>
        <%= form.text_area :descricao, id: :descricao ,class:"form-control"%>
      </div>
      <div class="form-group">
        <%= form.label :preco, "Preço" %>
        <%= form.number_field :preco, id: :preco ,class:"form-control", step: 'any' %>
      </div>
      <div class="form-group">
        <%= form.label :Categoria %>
        <%= form.select :admin_categories_id, Admin::Category.all.collect{ |c| [c.nome, c.id]}, {}, required:false, class:"form-control" %> 
      </div>
      <div class="form-group">
        <%= form.label :picture, "Capa do curso" %>
        <%= form.file_field :picture, class:"form-control" %> 
      </div>
      <div class="actions">
        <%= form.submit "Salvar", class:"btn btn-success min-width-btn" %>
      </div>
<% end %>