<!DOCTYPE html>
<html>
  <head>
    <title>AplicacaoDeCursos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> 
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3" aria-label="Fifth navbar example">
      <div class="container-fluid">
         <%= link_to 'EducaPlay', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link active' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
