<!DOCTYPE html>
<html>
  <head>
    <title>AplicacaoDeCursos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> 
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3" aria-label="Fifth navbar example">
      <div class="container-fluid">
        <%= link_to root_path do %>
            <%= image_tag 'logo-v2.svg', alt: 'EducaPlay Logo', class: 'navbar-logo logo-svg' %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Home', sales_root_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Perfil', edit_sales_seller_path(@seller), class: 'nav-link active' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Cursos', sales_seller_courses_path(@seller), class: 'nav-link active' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown05">
                <li><a class="dropdown-item" href="#">Cursos</a></li>
                <li><a class="dropdown-item" href="#">Administistradores</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <div class="text-light">
            <%= link_to 'Sair', sales_logout_path, class: 'nav-link active' %>
          </div>
        </div>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
